.container{
    width:1200px;
    height:800px;
    border:1px solid red;
    position:relative;
    background-color: #33d9b2;
            
}
.boxModal{
    height:200px;
    width:200px;
    border:1px solid transparent;
    position:absolute;
    top:0;
    left:0;
   
}
.addCount{
    margin-right: 5px;
}
